.about-section {
    max-width: 1200px;
}

.about-section h1 {
    font-size: var(--header-fs);
    text-align: center;
    color: var(--primary-color)
}

@media screen and (max-width: 1100px) {
    .about-section {
        margin-top: 5rem;
    }
}